<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>500 ERROR</title>
    <link rel="icon" href="/public/images/favicon.ico" />
    <link
      rel="stylesheet"
      href="/public/third_party/bootstrap/dist/css/bootstrap.css"
    />
    <link rel="stylesheet" href="/public/stylesheets/index.css" />
    <script
      type="text/javascript"
      src="/public/third_party/jquery/dist/jquery.js"
      defer
    ></script>
    <script
      type="text/javascript"
      src="/public/third_party/bootstrap/dist/js/bootstrap.js"
      defer
    ></script>
  </head>
  <body>
    <div class="container">
      <h1>500 : Internal Server Error</h1>
      <h2>request</h2>
      <table class="table table-bordered">
        <tr>
          <th class="col-md-2">request</th>
          <td class="col-md-10">
            <span><%= data.method %></span>
            <span> </span>
            <span><%= data.url %></span>
            <span> </span>
            <span
              ><%= (data.protocol || "").toUpperCase() %>/<%= data.version
              %></span
            >
          </td>
        </tr>
      </table>

      <h2>エラー</h2>
      <table class="table table-bordered">
        <tr>
          <th class="col-md-2">name</th>
          <td class="col-md-10"><%= data.name %></td>
        </tr>
        <tr>
          <th>message</th>
          <td><%= data.message %></td>
        </tr>
        <tr>
          <th>stack</th>
          <td><%= data.stack %></td>
        </tr>
      </table>
    </div>
  </body>
</html>
